.container{
    background-color:rgb(67, 67, 201);
    display: grid;
    grid-gap:10px;
    padding: 10px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 20fr 20fr 25fr;
    
    grid-template-areas:"header header header"
                         "sidebar main right"
                         "footer footer footer" ;
}
.header{
  background-color: lightblue;
  grid-area: header;
  padding-top: 20px;
}
.sidebar{
    background-color: lightblue;
    grid-area: sidebar;
    padding-top: 20px;
  }
.main{
    background-color: lightblue;
    grid-area: main;
    padding-top: 20px;
  }
  .right{
    background-color: lightblue;
    grid-area: right;
    padding-top: 17px;
  }
  .footer{
    background-color: lightblue;
    grid-area: footer;
    padding-top: 25px;
  }